.container {
  display: grid;
  grid-template-columns: 90px 370px 1fr; /* Fixed width for the first two containers, 1fr for the third container */
  width: 100vw; /* Ensure the container takes up the full width */
  height: 100vh;
}

.navbarContainer {
  grid-column: 1; /* First container */
  height: 100%;
}

.sidebarContainer {
  grid-column: 2; /* Second container */
  height: 100%;
}

.chatwindowContainer {
  grid-column: 3; /* Third container */
  height: 100%;
  overflow: auto;
}
