.container {
    display: flex;
    align-items: center;
    justify-content: center;
}



.userOptionsMenu {
    border: 1px solid white;
    margin-bottom: 2vh;
    width: 100%;
    height: 10vh;
}



.userAvatar {
    border-radius: 50%;
    width: 100%;
}



.menu {
    width: 200px;
    height: 100%;
    background-color: darkslategrey;
    color: white;
}